*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
/*hero es una imagen que destaca en el index*/
.hero{
    /*liner-gradiant sirve para agregar un color a la imagen*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("asd.jpg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.text-hero{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 10px !important;
}
.text-60{
    font-size: 60px;
}
.text-25{
    font-size: 25px;
    margin-bottom: 20px;
}

.info{
    background: #f5576c;
    color: #fff;
}
.contenedor{
    width: 90%;
    margin: auto;   
    padding: 80px 0;
}
.titulo{
    font-weight: 300px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}
/* CARDS */

.card{
    width: 25%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);/*permite modificar el espacio de coordenadas del modelo de formato visual CSS */
    transition: transform 0.6s;
}
.content-cards{
    display: flex;/*  establece los tipos de visualización interna y externa de un elemento */
    width: 100%; /* ancho del contenedor*/
    justify-content: space-evenly; /*define cómo el navegador distribuye el espacio entre y alrededor de los items*/
    flex-wrap: wrap; /*especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas*/
}


.card i{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 50px;
}
.cta{
    display: inline-block; 
    text-decoration: none;
    background-image: linear-gradient(45deg, red 0%, #f6663e 99%, #fadcd4 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}
/* galeria */

.galeria{
    background: #f2f2f2;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}